.first{
  border: black solid;
  width: 200px; 
  height: 200px;
  backface-visibility: hidden;
  position: relative;
  justify-content: center;
  align-content: flex-start;
}

.back{
  width: 200px;
  height: 200px;
  position: relative;
  justify-content: center;
  /*backface-visibility: hidden;
  align-content: flex-end;
}
